<!DOCTYPE html>
<html>
<head>
    <title>View Page</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>{{response}}</h1>
    </div>
    <div class="well">
        <ol class="list-group">
            AAA
            <li class="list-group-item">BBB</li>
            <p><small>CCC</small></p>
            DDD
        </ol>
    </div>
</div>
</body>
</html>